.comparisonGraph--wrapper {
	padding-top: 28px;
}

.comparisonGraph--error-container {
	height: 235px;
	text-align: center;
}

// .highcharts-background{
//   width: 378px !important;
// }

// .highcharts-label {
//   text {
//     text-decoration: none !important;
//     color: #000000 !important;
//     fill: #000000 !important;
//   }
// }