.download.icon, .icon.customized {
  margin-right: 0 !important;
  float: right;
  font-size: 14px !important;
  line-height: 14px !important;
}

.expand-circle {
  cursor: pointer;
}

.calendar.customized {
  font-size: 1rem !important;
}

.info.customized {
  color: #CBCBCB;
}

.download.icon {
  color: #91949A;
}

.chevron.up.icon {
  color: #068B72;
}

.chevron.down.icon {
  color: red;
}

.minimize.icon {
  color: #CBCBCB;
  font-size: 10px;
  line-height: 11px;
}